{% load static %}
<!doctype html>
<html lang="es" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}DJANGO_DEV{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&family=Rajdhani:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      href="{% static 'img/logo.png' %}"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    {% comment %} bootstap icons {% endcomment %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body class="">
    <nav class="navbar navbar-expand-lg cyber-nav">
      <div class="container-fluid">
        <a class="navbar-brand logo-nav" href="/">
          <img src="{% static 'img/logo.png' %}" alt="Icono" class="nav-icon" />
          <span class="text-secondary" style="font-size: .9rem;"
            >DJANGO_DEV</span
          >
        </a>
        <div class="d-flex justify-content-end ms-auto gap-2 gap-lg-0">
          <div class="d-flex align-items-center ms-lg-3">
            <button
              id="toggle-theme"
              class="btn-theme-cyber"
              title="Cambiar modo"
            >
              <i class="bi bi-sun-fill sun-icon"></i>
              <i class="bi bi-moon-stars-fill moon-icon"></i>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navbarCyber">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-links mt-2">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/' %}active{% endif %}"
                  href="/"
                  >Inicio</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/contacto' %}active{% endif %}"
                  href="/contacto"
                  >Contacto</a
                >
              </li>
              <li>
                <a class="nav-link {% if request.path == '/catalogo' %}active{% endif %}" href="/catalogo">
                  Blog
                </a>
              </li>
            </ul>
          </div>
          <button
            class="navbar-toggler custom-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCyber"
            aria-controls="navbarCyber"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </nav>

    <main class="content-wrapper">
      {% block content %} {% endblock %}
    </main>

    <footer class="bg-dark">
      <div class="footer-line"></div>
      <p class="text-secondary">
        &copy; 2026 <span class="neon-text">DJANGO_DEV</span> - Sistemas de Alto
        Rendimiento
      </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
