
{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio | DJANGO_DEV{% endblock %}
{% block content %}

    <main class="hero mb-5" >
        <div class="hero-content">
            <h1 class="glitch-text text-body">BUILDING <span>FUTURE</span></h1>
            <p class="hero-description">
                Desarrollo backend robusto con Python. <br>
                Sistemas escalables bajo una estética de alto rendimiento.
            </p>
            
            <div class="main-logo-container">
                <img src="{% static 'img/logo.png' %}" alt="Logo Principal" class="main-logo">
            </div>

        </div>
        <div>
            <a href="/contacto" class="cta-button">Empezar ahora</a>
        </div>
    </main>

    {% endblock %}